#board {
    margin: auto;
    width: 500px;
    height: 500px;
    border: solid 1px #333;
  }
  
  #board .row {
    margin: auto;
  }
  
  .square {
    height: 62px;
    width: 62px;
    background: #efefef;
    float: left;
  }
  
  .square.white {
    background: #fff;
  }
  
  .square.black {
    background: #333;
  }
